---
import { string } from "astro:schema";
import Layout from "../layouts/Layout.astro";
import { getBlogDetail, getBlogs } from "../lib/microcms";
import DOMPurify from "isomorphic-dompurify";
import Box from "../components/Box.astro";
import SubTitle from "../components/SubTitle.astro";

export const getStaticPaths = async () => {
  const response = await getBlogs({ fields: ["id"] });
  const paths = response.contents.map((blog) => ({
    params: { blogId: blog.id },
  }));
  return paths;
};
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId);

const sanitizedText = (text: string) => {
  const clean = DOMPurify.sanitize(text, { ALLOWED_TAGS: [""] });
  console.log(clean);
  return clean;
};
---

<Layout>
  <Box>
<SubTitle>{blog.title}</SubTitle>
  <p class="break-words">{sanitizedText(blog.content)}</p>
  </Box>
</Layout>
