---
import Box from "../components/Box.astro";
import Intro from "../components/Intro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Intro />
  <Box>
    <p>はじめましてエンジニアをやっておりますMasafumiです。</p>
    <p>都内の制作会社でWeb制作を行なっています。</p>
    <p>このブログでは、日々の開発で得た知見や、挑戦した技術について記事をまとめています。</p>
  </Box>
</Layout>
