---
//microCMS呼び出し
import { getBlogs } from "../lib/microcms";
const response = await getBlogs({ fields: ["id", "title"] });
console.log(response.contents);
---

<div class="bg-gray-50  p-4 rounded-2xl mb-4 shadow-lg border-purple-400 border">
<h2 class="font-bold text-lg">最新のブログ</h2>
{response.contents.map((blog: { title: string }) => (
<a href="" class="flex gap-7">
  <p class="text-md w-28">{blog.title}</p>
  <p class="line-clamp-2 text-md hover:underline font-bold">{blog.title}</p>
</a>
  

))}
</div>