---
import { Icon } from "astro-icon/components";
---

<header class="bg-gray-50 flex justify-between items-center p-4 rounded-2xl mb-4 shadow-lg">
  <a href="/">My Blog</a>
  <nav>
    <ul class="flex gap-2">
      <li><a href="https://x.com/masafumi1073"><Icon name="fa6-brands:x-twitter" width={24} height={24} /></a></li>
      <li><a href="https://github.com/Rikka1073"><Icon name="fa6-brands:github" width={24} height={24} /></a></li>
    </ul>
  </nav>
</header>
