---
import Box from "./Box.astro";
---

<Box>
  <h2 class="font-bold text-lg mb-2">プロフィール</h2>
  <div class="flex flex-col gap-2">
    <p>
      👱‍♂️ <span class="font-bold">Masafumi</span>
    </p>
    <p>
      🖥️ <span class="font-bold">フロントエンドエンジニア</span>（React/JavaScript/HTML/CSS）
    </p>
    <p>🎵 <span class="font-bold">K-POP</span>（IZ*ONE/LE SSERAFIM）</p>
    <p>
      ⚽️ <span class="font-bold">サッカー</span>（横浜F・マリノス/Liverpool FC）
    </p>
  </div>
</Box>
