<div class="bg-gray-50 p-4 rounded-2xl mb-4 shadow-lg">
  <nav>
    <ul class="flex items-center gap-2">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</div>