---
import Box from "./Box.astro";
---

<Box>
  <nav>
    <ul class="flex items-center gap-2 text-lg">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</Box>
